.calculator-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #212832;
    overflow: hidden;
}

.calculator-header {
    position: absolute;
    width: 100%;
    height: 8vh;
    background-color: #212832;
    top: 0;
    color: white;
    font-family: 'Calibri';
    font-size: 1.8vh;
}

.calculator-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}


.calculator-list {
    position: absolute;
    background-color: #212832;
    width: 100%;
    height: 85%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: .5vh;

    overflow-y: scroll;
}

.calculator-list::-webkit-scrollbar {
    display: none;
}



form{
	width: 92%;
	position: relative;
	top: 45%;
	left: 5%;
	transform: translate(-1%, -50%);
}
input[name="display"]{
	background: rgb(39, 39, 39);
	color: #fff;
	font-size: 4.5vh;
	height: 10vh;
	text-align: left;
	margin: 4vh 0.5vh;
	width: calc(100% - 10px);
	border: none;
	padding: 0 1vh;
}
input[type="button"]{
	font-size: 2vh;
	float: left;
	width: calc(100% / 4 - 0.6vh);
	background: #fff;
	background-image: linear-gradient(#fff, rgb(189, 189, 189));
	text-align: center;
	padding: 1vh;
	margin: 0 0 0.45vh 0.45vh;
	border: none;
	transition: 0.25s;
	border-radius: 5px;
}
input[type="button"]:hover{
	background: rgb(121, 121, 121);
	background-image: linear-gradient(rgb(121, 121, 121), rgb(87, 87, 87));
}
input[type="button"]:nth-last-of-type(1){
	background: yellow;
	background-image: linear-gradient(yellow, rgb(163, 163, 2));
	width: calc(50% - 0.7vh);
	transition: 0.25s;
}
input[type="button"]:nth-last-of-type(1):hover{
	background: rgb(204, 204, 4);
	background-image: linear-gradient(rgb(204, 204, 4), rgb(167, 167, 1));
}

#minishalhcalc{
	background: rgb(241, 126, 18);
	background-image: linear-gradient(rgb(241, 126, 18), rgb(202, 106, 16));
	color: #fff;
	transition: 0.25s;
}
#minishalhcalc:hover{
	background: rgb(204, 102, 6);
	background-image: linear-gradient(rgb(204, 102, 6), rgb(174, 86, 4));
}
#shakhescalc{
	background: rgb(191, 191, 191);
	background-image: linear-gradient(rgb(191, 191, 191), rgb(153, 153, 153));
	transition: 0.25s;
}
#shakhescalc:hover{
	background: rgb(121, 121, 121);
	background-image: linear-gradient(rgb(121, 121, 121), rgb(90, 90, 90));
}

.calc-icon{
	margin-left: -0.1vh;
    width: 4.8vh;
}