@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.crypto-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #212832;
    overflow: hidden;
}

.crypto-header {
    position: absolute;
    width: 100%;
    height: 9.5vh;
    top: 0.7vh;
    text-align: center;
}

#crypto-search-text {
    position: absolute;
    top: 4.7vh;
    left: 3.0vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    color: #FFFFFF;
}
#crypto-search-icon {
    position: absolute;
    top: 7.5vh;
    left: 3.5vh;
    font-size: 1.4vh;
    color: #FFFFFF;
}
#crypto-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: 6.9vh;
    width: 77%;
    margin: 0 auto;
    left: -2%;
    right: 0;
    opacity: 1;
    height: 2.5vh;
    border-bottom: .1vh solid #f5f5f5ad;
    outline: none;
    text-indent: 2.5vh;
    z-index: 100;
    color: whitesmoke;
}

.crypto-lists {
    position: absolute;
    width: 77.0%;
    height: 46.5vh;
    top: 11.8vh;
    margin: auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.crypto-lists::-webkit-scrollbar {
    display: none;
}

.crypto-list {
    padding: 4px;
    width: 100%;
    background-color: rgb(44, 70, 95);
    border-radius: 4px 4px 0px 0px;
    border-bottom: .1vh solid #fff;
    margin-bottom: 3.5%;
}

.crypto-icon {
    position: relative;
    line-height: 6vh;
    left: 0vh;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-left: 1.6vh;
    padding-right: 2.6vh;
    color: white;
    font-size: 4.0vh;
    transition: .05s linear;
}

.crypto-vehicle:hover {
    background-color: #0d1218c0;
}

.crypto-label {
    position: absolute;
    left: 7.2vh;
    color: white;
    line-height: 3vh;
    font-size: 1.4vh;
}

.crypto-value {
    position: absolute;
    left: 7.2vh;
    color: white;
    line-height: 8vh;
    font-size: 1.2vh;
}

.crypto-block {
    padding: 0 18px;
    /*line-height: 5vh;*/
    display: none;
    overflow: hidden;
    background-color: rgb(44, 70, 95);
    margin-bottom: 1.4vh;
}

/* Click Block CSS */

.crypto-abbrev {
    padding: 3px 18px;
    padding-left: 0vh;
    color: white;
    font-size: 1.3vh;
    border-bottom: .1vh solid #fff;
}

.crypto-abbrev > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.crypto-extralabel {
    padding: 3px 18px;
    padding-top: 0.5vh;
    padding-left: 0vh;
    color: white;
    font-size: 1.3vh;
    border-bottom: .1vh solid #fff;
}

.crypto-extralabel > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.crypto-current {
    padding: 3px 18px;
    padding-top: 0.5vh;
    padding-left: 0vh;
    color: white;
    font-size: 1.3vh;
    border-bottom: .1vh solid #fff;
}

.crypto-current > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.crypto-cost {
    padding: 3px 18px;
    padding-top: 0.5vh;
    padding-left: 0vh;
    color: white;
    font-size: 1.3vh;
    border-bottom: .1vh solid #fff;
    margin-bottom: 7%;
}

.crypto-cost > i {
    padding-right: 0.8vh;
    font-size: 1.3vh;
    color: white;
}

.crypto-box {
    transition: 0.25s;
    border-radius: 4px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85vh;
    margin-bottom: 4%;
}

.box-exchange{
    background:#f6a167;
    padding: 4.0%;
}

.box-purchase{
    background:#90e278;
    padding: 4.0%;
}

.box-sell{
    background:#f6a167;
    padding: 4.0%;
}
