@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.documents-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #242833;
}

.documents-header {
    position: absolute;
    width: 86%;
    height: 10%;
    left: 6.5%;
    right: 0;
    color: white;
    font-size: 1.8vh;
}

.documents-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.documents-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.documents-list {
    position: absolute;
    width: 90%;
    height: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0.3%;
    border-radius: .5vh;
    overflow-y: scroll;
}

.documents-list::-webkit-scrollbar {
    display: none;
}

.documents-test {
    position: relative;
    width: 86%;
    height: 3.5vh;
    margin-left: 7%;
    margin-bottom: 7px;
    color: white;
    background-color: rgb(44, 70, 95);
    transition: all 0.15s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.557) 0rem 0rem 0.1rem 0.01rem;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 0.1vh solid rgba(245, 245, 245, 0.68);
}

.documents-title-title {
    position: relative;
    top: 1.0vh;
    left: 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    color: white;
    max-width: 17vh;
}

.documents-title-icon {
    position: relative;
    top: -1.2vh;
    left: 18.5vh;
    font-size: 1.6vh;
    color: white;
    max-width: 17vh;
}

.documents-title-icon:hover{
    color: rgb(187, 187, 187);
}

.documents-title-icon-registration {
    position: relative;
    top: -1.2vh;
    left: 18.5vh;
    font-size: 1.6vh;
    color: white;
    max-width: 17vh;
}

.documents-title-icon-registration:hover{
    color: rgb(187, 187, 187);
}

.documents-tupe-text-btn{
    position: absolute;
    color: whitesmoke;
    transition: all 0.2s ease 0s;
    display: inline;
    border-radius: 4px;
    top: 77%;
    left: 88%;
}
.documents-tupe-text-btn:hover{
    color: rgb(187, 187, 187);
}

#documents-textarea {
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    outline: none;
    resize: none;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 80%;
    margin-left: 10%;
    background: none;
    border-bottom: .1vh solid #f5f5f5ad;
    color: whitesmoke;
    font-size: 1.75vh;
}

#documents-textarea:focus {
    border-bottom: .1vh solid #8ee074;
}


#documents-textarea::-webkit-inner-spin-button,
#documents-textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#documents-textarea::-webkit-scrollbar {
	width: 0.2vh;
}

#documents-textarea::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

#documents-textarea-new {
    border: none;
    height: 39vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    outline: none;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    padding: 0vh;
    font-size: 1.4vh;
    margin-top: -2%;
    width: 90%;
    margin-left: 5%;
    background: none;
    color: #cacaca;
    font-size: 1.75vh;
}

#documents-textarea-new::-webkit-inner-spin-button,
#documents-textarea-new::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#documents-textarea-new::-webkit-scrollbar {
	width: 0.2vh;
}

#documents-textarea-new::-webkit-scrollbar-thumb {
    background: whitesmoke;
}




.documents-form-style-body{
    width: 95%;
    background-color: #2c465f;
    margin: 2% 2%;
    padding: 3% 3%;
    border-radius: 4px;
    border-bottom: 0.1vh solid rgba(245, 245, 245, 0.68);
    transition: 0.2s;
    color: whitesmoke;
}
.documents-form-style-body:hover{
    background-color: #0d1218c0;
}

.documents-input-title-name {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: 10.1vh;
    width: 79%;
    margin: 0 auto;
    left: 13.5%;
    right: 0;
    opacity: 1;
    height: 3.4vh;
    /* border-radius: 1vh; */
    border-bottom: .1vh solid #f5f5f5ad;
    /* box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281); */
    /* font-family: 'Poppins', sans-serif; */
    outline: none;
    text-indent: 3.2vh;
    z-index: 100;
    color: whitesmoke;
}

#documents-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    background: none;
    top: 6.9vh;
    width: 90%;
    margin: 0 auto;
    left: 0%;
    right: 0;
    opacity: 1;
    height: 2.5vh;
    /* border-radius: 1vh; */
    border-bottom: .1vh solid #f5f5f5ad;
    /* box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281); */
    /* font-family: 'Poppins', sans-serif; */
    outline: none;
    text-indent: 2.5vh;
    z-index: 100;
    color: whitesmoke;
}
#documents-search-icon {
    position: absolute;
    top: 7.5vh;
    left: 1.3vh;
    font-size: 1.4vh;
    color: #FFFFFF;
}
#documents-search-text {
    position: absolute;
    top: 4.7vh;
    left: 1.3vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    color: #FFFFFF;
}

/* Main Drop Down for Documents/ Licenses/ & Registrations */

.documents-dropdown {
    position: relative;
    width: 90%;
    display: inline-block;
    border-bottom: 0.1vh solid rgba(245, 245, 245, 0.68);
    transition: all .5s ease;
    font-size: 14px;
    text-align: left;
    top: 190%;
    left: 5.2%;
    color: whitesmoke;
    background-color: none;
    outline: none;
}

.documents-dropdown .documents-select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.documents-dropdown .documents-select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.documents-dropdown.active .documents-select > i {
    transform: rotate(-90deg)
}

.documents-dropdown .documents-dropdown-menu {
    position: absolute;
    background-color: #484848;
    width: 100%;
    left: 0;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 420px;
    overflow-y: auto;
    z-index: 9
}

.documents-dropdown .documents-dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.documents-dropdown .documents-dropdown-menu {
    padding: 0;
    list-style: none
}

.documents-dropdown .documents-dropdown-menu li:hover {
    background-color: #767676
}

.documents-dropdown .documents-dropdown-menu li:active {
    background-color: #767676
}

.document-body-class-body-main{
    color: whitesmoke;
}

.document-body-class-title{
    margin-left: 5%;
}

.documents-body-btn-class{
    display: inline-flex;
    text-align: center;
    margin-left: 40%;
}

.documents-body-btn-one{
    color: #8ee074;
    transition: 0.2s;
}
.documents-body-btn-one:hover{
    color: #6cac59;
}

.documents-body-btn-two{
    color: #f5a15b;
    margin-left: 60%;
    transition: 0.2s;
}
.documents-body-btn-two:hover{
    color: #c27e47;
}

.documents-body-btn-three{
    color: #d9d9d9;
    margin-left: 60%;
    transition: 0.2s;
}
.documents-body-btn-three:hover{
    color: #d9d9d9;
}

.documents-extras-button{
    color: #ffffff;
    margin-top: 5.0vh;
    margin-left: 90%;
    font-size: 2.0vh;
    transition: 0.2s;
}
.documents-extras-button:hover{
    color: #d9d9d9;
}

.documents-extras-button-registration{
    color: #ffffff;
    margin-top: 5.0vh;
    margin-left: 90%;
    font-size: 2.0vh;
    transition: 0.2s;
}
.documents-extras-button-registration:hover{
    color: #d9d9d9;
}

.documents-input-tags{
    position: absolute;
    top: 10.4vh;
    left: 4.5vh;
    font-size: 1.5vh;
    color: #d9d9d9;
}

.documents-input-title-list{
    position: absolute;
    top: 8.0vh;
    left: 4.5vh;
    font-size: 1.2vh;
    color: #d9d9d9;
}

.documents-input-back{
    position: absolute;
    top: 9.0vh;
    left: 1.5vh;
    font-size: 2.2vh;
    color: #d9d9d9;
}
.documents-input-back:hover{
    color: #d9d9d9;
}

.documents-extra-buttons {
    display: none;
    position: absolute;
    top: 3.6vh;
    right: -10vh;
}

.documents-extra-button {
    background: none;
    border: none;
    color: white;
    width: 2.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}

.documents-extra-button-registration:hover {
    color: #d9d9d9;
}

.documents-extra-button-registration > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}

.documents-extra-buttons-registration {
    display: none;
    position: absolute;
    top: 3.6vh;
    right: -10vh;
}

.documents-extra-button-registration {
    background: none;
    border: none;
    color: white;
    width: 2.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}

.documents-extra-button-registration:hover {
    color: #d9d9d9;
}

.documents-extra-button-registration > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}