@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.employment-app {
    display: none;
    height: 108%;
    width: 100%;
    background-color: #e2e2e2;
    overflow: hidden;
}

.employment-header {
    position: absolute;
    width: 100%;
    height: 9.5vh;
    top: 0.7vh;
    text-align: center;
}

#employment-search-text {
    position: absolute;
    top: 4.7vh;
    left: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    color: #000000;
}
#employment-search-icon {
    position: absolute;
    top: 7.3vh;
    left: 2vh;
    font-size: 1.4vh;
    color: #000000;
}
#employment-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    outline: none;
    top: 6.9vh;
    width: 87%;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 1;
    height: 2.5vh;
    border-bottom: .1vh solid #202020ad;
    text-indent: 2.5vh;
    color: rgb(0, 0, 0);
}

.employment-lists {
    position: absolute;
    width: 87.0%;
    height: 46.5vh;
    top: 11.8vh;
    margin: auto;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.employment-lists::-webkit-scrollbar {
    display: none;
}

.employment-list {
    position: relative;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 6vh;
    margin-bottom: 8px;
    background-color: rgb(244, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.557) 0rem 0rem 0.1rem 0.01rem;
    border-bottom: .1vh solid #fff;
}

.employment-job-list {
    position: relative;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 6vh;
    margin-bottom: 8px;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.557) 0rem 0rem 0.1rem 0.01rem;
    border-bottom: .1vh solid #fff;
}

.employment-job-list:hover {
    background-color: #e2e2e2;
}

.employment-icon {
    position: absolute;
    margin: .7vh;
    margin-left: 1.0vh;
    text-align: center;
    line-height: 4.5vh;
    color: rgb(0, 0, 0);
    font-size: 4.0vh;
}

.employment-job-icon {
    position: absolute;
    margin: .7vh;
    margin-left: 1.5vh;
    text-align: center;
    line-height: 4.5vh;
    color: rgb(0, 0, 0);
    font-size: 4.5vh;
}

.employment-label {
    position: absolute;
    left: 7.4vh;
    color: rgb(0, 0, 0);
    line-height: 2.7vh;
    font-size: 1.4vh;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.employment-grade {
    position: absolute;
    left: 7.4vh;
    color: rgb(0, 0, 0);
    line-height: 8vh;
    font-size: 1.2vh;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* NEW HEADER SHIT */

#employment-job-search-text {
    position: absolute;
    top: 4.7vh;
    left: 5.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vh;
    color: #000000;
}

#employment-job-search-icon {
    position: absolute;
    top: 7.3vh;
    left: 5.5vh;
    font-size: 1.4vh;
    color: #000000;
}

#employment-job-back-icon {
    position: absolute;
    top: 6vh;
    left: 2.5vh;
    font-size: 2.1vh;
    color: #000000;
}

#employment-job-extras-icon {
    position: absolute;
    top: 4vh;
    right: 2.5vh;
    font-size: 2.1vh;
    color: #000000;
}

#employment-job-search {
    display: block;
    position: absolute;
    background: none;
    border: none;
    top: 6.9vh;
    width: 75%;
    margin: 0 auto;
    left: 3.4vh;
    right: 0;
    height: 2.5vh;
    border-bottom: .1vh solid #f5f5f5ad;
    outline: none;
    text-indent: 2.5vh;
    color: rgb(0, 0, 0);
}

/* DROP DOWN MENU */

.phone-dropdown-menu{
    display: none;
    position: absolute;
    padding-left: 9.5vh;
    padding-top: 4vh;
    width: 80px;
    height: 100px;
}

.list-content{
    position: relative;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 180px;
    overflow: hidden;
    margin: auto;
    font-family: 'Robotto', sans-serif;
    font-size: 1.3vh;
    background-color: #dddddd;
}
.list-content >i{
    padding:  10px 10px 0px 10px;

}

.list-content:hover{
    background-color: #ffffff;
}

/* Action Buttons */

.employment-action-buttons {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 5.1vh;
    left: 0;
    right: 0;
}

.employment-action-buttons > i {
    position: relative;
    float: left;
    margin-left: 2.6vh;
    left: 4vh;
    top: 2.1vh;
    font-size: 1.8vh;
    color: rgb(0, 0, 0);
    text-align: center;
}

.employment-action-buttons > i:hover {
    color: #ffffff;
}

.employment-job-list:hover .employment-action-buttons {
    background: #e3e3e3c0;
    visibility: visible;
}

/* Grade Dropdown Shit */

.grade-dropdown {
    position: relative;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    line-height: 3.0vh;
    transition: all .5s ease;
    font-size: 14px;
    color: #000000;
    text-align: left;
    background-color: rgb(255, 255, 255);
    outline: none;
    border-bottom: .1vh solid rgb(0, 0, 0);
}

.grade-dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.grade-dropdown .select > i {
    font-size: 13px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 34px
}

.grade-dropdown:active {
    background-color: #ffffff
}

.grade-dropdown.active:hover,
.grade-dropdown.active {
    background-color: #ffffff
}

.grade-dropdown.active .select > i {
    transform: rotate(-90deg)
}

.grade-dropdown .grade-dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 420px;
    overflow-y: auto;
    z-index: 9
}

.grade-dropdown .grade-dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.grade-dropdown .grade-dropdown-menu {
    padding: 0;
    list-style: none
}

.grade-dropdown .grade-dropdown-menu li:hover {
    background-color: #ffffff
}

.grade-dropdown .grade-dropdown-menu li:active {
    background-color: #fcfcfc
}