@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.gallery-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #212832;
    overflow: hidden;
}

.gallery-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    text-align: center;
    line-height: 12.5vh;
    color: white;
    font-size: 1.5vh;
}

.gallery-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.gallery-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}
.gallery-postscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}

.gallery-images {
    position: absolute;
    width: 85%;
    height: 44.5vh;
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.gallery-images::-webkit-scrollbar {
    display: none;
}

.tumbnail{
    width: 100%;
    border-radius: 0.3vh;
}

.gallery-image {
    display: inline-block;
    width: 50%;
    padding: 0.2vh;
    height: 7.1vh;

}
.gallery-details {
    position: absolute;
    height: 76%;
    width: 84%;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 11vh;
}



.return-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-button > div {
    margin: 2px;
    width: 100%;
    height: 5vh;
    background-color: rgb(233, 233, 233);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-size: 1.4vh;
}

.return-button > div:hover {
    background-color: rgb(212, 212, 212);
}

.make-post-button {
    display: flex;
    flex-direction: row;
}

.make-post-button > div {
    margin: 2px;
    width: 40%;
    height: 5vh;
    background-color: #8ee074;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-size: 1.4vh;
}

.make-post-button > div:hover {
    background-color: #6cac59;
}

#delete-button {
    margin: 2px;
    width: 20%;
    height: 5vh;
    background-color: #f5a15b;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-size: 1.4vh;
}
#delete-button:hover {
    background-color: #c27e47;
}

#gallery-coppy-button{
    background: rgb(187, 187, 81);
}
#gallery-coppy-button:hover{
    background: rgb(145, 145, 63);
}

.posts-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tweet-button {
    margin: 2px;
    width: 50%;
    height: 5vh;

    color: #151515;
    border-radius: .3vh;
    transition: .2s linear;
    text-align: center;
    line-height: 5vh;
    font-size: 1.4vh;
    background-color: #08a0e9;

}
#tweet-button:hover {
    background-color: #0078a3;
}

#advert-button {
    margin: 2px;
    width: 50%;
    height: 5vh;
    color: #fff;
    border-radius: .3vh;
    transition: .2s linear;
    text-align: center;
    line-height: 5vh;
    font-size: 1.4vh;
    background-color: #ff8f1a;
}
#advert-button:hover {
    background-color: #bd7528;
}



#new-textarea {
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: none;
    outline: none;
    border: .1vh solid #f5f5f5ad;
    color: whitesmoke;
    resize: none;
    transition: border-bottom 0.1s ease-in-out;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 100%;
    border-radius: 4px;
}