@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.lsbn-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #242833;
}

.lsbn-header {
    position: absolute;
    width: 86%;
    height: 10%;
    left: 6.5%;
    right: 0;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.8vh;
    /* margin: 0 auto; */
}

.lsbn-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.lsbn-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.lsbn-list {
    position: absolute;
    width: 90%;
    height: 74%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;
    border-radius: .5vh;
    overflow-y: scroll;
}

.lsbn-list::-webkit-scrollbar {
    display: none;
}





.lsbn-send-news-for-chat{
    position: absolute;
    color: whitesmoke;
    transition: all 0.2s ease 0s;
    display: inline;
    border-radius: 4px;
    top: 77%;
    left: 91%;
    z-index: 1;
}
.lsbn-send-news-for-chat:hover{
    color: rgb(187, 187, 187);
}

.lsbn-logo-style{
    width: 90%;
    position: relative;
    top: 70%;
    margin-left: 5%;
}

.lsbn-chat-style-main{
    width: 90%;
    margin-left: 4%;
    margin-bottom: 2%;
    padding: 2%;
    color: whitesmoke;
    background: #2c465f;
    border-bottom: 0.1vh solid rgba(245, 245, 245, 0.68);
    border-radius: 2px;
}

.lsbn-chat-time-style{
    text-align: right;
    color: #adadad;
}

.lsbn-chat-to-image-style{
    width: 100%;
}