@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.ping-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #242833;
}

.ping-header {
    position: absolute;
    width: 90%;
    height: 35%;
    top: 8%;
    left: 0;
    right: 0;
    color: white;
    font-size: 1.8vh;
    margin: 0 auto;
}

.ping-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.ping-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.ping-list {
    position: absolute;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* bottom: 3%; */
    border-radius: .5vh;
    overflow-y: scroll;
}

.ping-list::-webkit-scrollbar {
    display: none;
}


.imagepingapp{
    width: 100%;
    height: 100%;
}

.channel {
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: 2vh;
    background: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 1;
    color: whitesmoke;
}
  
  input[name="channel"]::-webkit-input-placeholder {
    color: whitesmoke;
}
  .channel span {
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

.channel input {
    text-align: center;
    border: none;
    border-bottom: .2vh solid whitesmoke;
    background: none;
    outline: none;
    font-family: 'Fira Code', monospace;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    margin-bottom: 5%;
}

.channel input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.ping-sender-piinger{
    display: block;
    height: 4.5vh;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    background: rgb(49,71,94);
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    transition: 0.3s;
    padding: 8px;
}

.ping-sender-piinger:hover{
    background: rgb(37, 68, 111);
}