@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.racing-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #212832;
    overflow: hidden;
}

.racing-overview {
    position: absolute;
    height: 100%;
    width: 100%;
}

.racing-app-header {
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: rgba(43, 42, 42, 0);
    text-indent: 1.9vh;
    line-height: 14vh;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    text-shadow: .1vh .1vh 0px #000000;
}

.racing-races {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 85%;
    height: 35vh;
    top: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .5vh;
    overflow-x: hidden;
}

.racing-buttons {
    position: absolute;
    bottom: 3.5vh;
    width: 85%;
    height: 4.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.racing-button {
    position: relative;
    float: left;
    height: 100%;
    width: 30%;
    background-color: pink;
    margin-left: 1.655%;
    margin-right: 1.655%;
    border-radius: .5vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    transition: .1s linear;
    text-align: center;
    color: white;
    line-height: 4.6vh;
    font-size: 1.4vh;
    font-family: 'Poppins', sans-serif;
    text-shadow: .05vh .05vh 0px #000000b2;
}

#setup-race {
    width: 35%;
    background-color: #0097e6;
}

#leaderboards-race {
    width: 20%;
    background-color: #e1b12c;
    font-size: 1.6vh;
}

#create-race {
    width: 35%;
    background-color: #44bd32;
}

#setup-race:hover {
    background-color: #1eaffd;
}

#leaderboards-race:hover {
    background-color: #ffca37;
}

#create-race:hover {
    background-color: #53e43d;
}

.racing-race {
    position: relative;
    width: 100%;
    height: 9vh;
    background-color: rgb(230, 230, 230);
    transition: .1s linear;
    border-bottom: .2vh solid #34b121;
    margin-bottom: .5vh;
    z-index: 100;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-race:hover {
    background-color: rgb(209, 209, 209);
}

.race-name {
    position: absolute;
    left: 1.5vh;
    top: 1vh;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4vh;
}

.race-track {
    position: absolute;
    left: 1.5vh;
    top: 3.3vh;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4vh;
}

.race-infomation {
    position: absolute;
    top: 6vh;
    height: 2vh;
    width: 80%;
    left: 1.3vh;
}

.race-infomation-tab {
    position: relative;
    float: left;
    font-size: 1vh;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-color: rgb(41, 41, 41);
    padding: .3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 2vh;
    color: rgb(158, 158, 158);
    margin-right: .5vh;
}

.race-buttons {
    display: none;
    position: absolute;
    bottom: 1vh;
    width: 50%;
    height: 4vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 101;
}

.race-button {
    position: relative;
    height: 100%;
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 4.2vh;
    background-color: black;
    color: white;
    font-size: 1.7vh;
    border-radius: .5vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    pointer-events: all;
    transition: .05s linear;
}

#join-race {
    background-color: #8ee074;
    color: black;
}

#join-race:hover {
    background-color: #6cac59;
}

#quit-race {
    background-color: #f5a15b;
    color: black;
}

#quit-race:hover {
    background-color: #c27e47;
}

#start-race {
    background-color: #0590db;
    color: black;
}

#start-race:hover {
    background-color: #16a2ee;
}

.racing-setup {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #212832;
    z-index: 102;
    left: -30vh;
}

.racing-setup-track {
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: black;
    top: 12vh;
}

.racing-setup-tracks {
    position: absolute;
    width: 100%;
    height: 5vh;
}

#racing-setup-trackheader {
    position: absolute;
    left: 2vh;
    top: 9.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    position: relative;
    width: 22vh;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    font-size: 14px;
    color: #474747;
    height: 4vh;
    text-align: left;
    top: 12vh;
    left: 2vh;
    background-color: #fff;
    outline: none;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 420px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

#racing-setup-lapsheader {
    position: absolute;
    left: 2vh;
    top: 20vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.racing-setup-laps {
    position: absolute;
    width: 22vh;
    height: 4vh;
    top: 22.5vh;
    left: 2vh;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: .2vh solid #fff;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: .1s linear;
}

.racing-setup-laps:focus {
    border-bottom: .2vh solid rgb(255, 137, 40);
}

.racing-setup-laps:valid {
    border-bottom: .2vh solid rgb(55, 199, 27);
}

.racing-setup-laps::-webkit-inner-spin-button {
    display: none;
}

#racing-setup-informationheader {
    position: absolute;
    left: 2vh;
    top: 30.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.racing-setup-information-distance {
    position: absolute;
    left: 2vh;
    top: 33vh;
    color: white;
    background-color: #273c75;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 4vh;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-setup-information-creator {
    position: absolute;
    left: 2vh;
    top: 37vh;
    color: white;
    background-color: #273c75;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 4vh;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-setup-information-wr {
    position: absolute;
    left: 2vh;
    top: 41vh;
    color: white;
    background-color: #273c75;
    padding: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 4vh;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-setup-buttons {
    position: absolute;
    bottom: 6vh;
    width: 60%;
    height: 5.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.racing-setup-button {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    line-height: 5.5vh;
    color: white;
    font-size: 2.4vh;
    border-radius: 1vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    transition: .05s linear;
}

#setup-race-accept {
    background-color: #8ee074;
    color: black;
}

#setup-race-accept:hover {
    background-color: #6cac59;
}

#setup-race-cancel {
    background-color: #f5a15b;
    color: black;
}

#setup-race-cancel:hover {
    background-color: #c27e47;
}

#racing-create-tracknameheader {
    position: absolute;
    left: 1.41vh;
    top: 1.2vh;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.racing-create {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .5vh;
    z-index: 102;
    pointer-events: all;
}

.racing-create-block {
    position: absolute;
    width: 80%;
    height: 15vh;
    background-color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 16vh;
    border-radius: .8vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-create-buttons {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 4vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 1.6vh;
}

.racing-create-button {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 4vh;
    text-align: center;
    font-size: 2vh;
    border-radius: .5vh;
    color: white;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    transition: .05s linear;
}

#racing-create-accept {
    background-color: #4ece3b;
}

#racing-create-cancel {
    background-color: #d33013;
}

#racing-create-accept:hover {
    background-color: #5ceb46;
}

#racing-create-cancel:hover {
    background-color: #eb3515;
}

.racing-leaderboard {
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #212832;
    z-index: 102;
    left: -30vh;
}

.racing-leaderboards {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 85%;
    height: 35vh;
    top: 13vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .5vh;
    overflow-x: hidden;
}

#racing-leaderboards-header {
    position: absolute;
    right: 2.3vh;
    top: 10vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.racing-leaderboard-item {
    position: relative;
    margin-bottom: .2vh;
    width: 100%;
    height: 7vh;
    background-color: rgb(230, 230, 230);
    transition: .1s linear;
    border-bottom: .2vh solid #181818;
    margin-bottom: .5vh;
    z-index: 100;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
}

.racing-leaderboard-item:hover {
    background-color: rgb(206, 206, 206);
}

.racing-leaderboard-item-name {
    position: absolute;
    left: 1.5vh;
    top: 1vh;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4vh;
}

.racing-leaderboard-item-info {
    position: absolute;
    left: 1.5vh;
    top: 3.5vh;
    font-family: 'Poppins', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 1.2vh;
}

.racing-leaderboard-details {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
}

.racing-leaderboard-details-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    height: 60%;
    background-color: white;
    top: 11vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    border-radius: .5vh;
}

.racing-leaderboard-details-block-trackname {
    text-align: center;
    line-height: 6vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;
    color: black;
    width: 100%;
    height: 6vh;
    border-bottom: .2vh solid rgba(0, 0, 0, 0.527);
}

.racing-leaderboard-details-block-list {
    position: absolute;
    width: 80%;
    height: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 9.5vh;
    overflow-y: scroll;
}

.racing-leaderboard-details-block-list::-webkit-scrollbar {
    display: none;
}

.racing-leaderboard-details-back {
    position: absolute;
    right: 1.5vh;
    top: 1.2vh;
    font-size: 1.7vh;
    color: black;
    transition: .05s linear;
}

.racing-leaderboard-details-back:hover {
    color: rgb(206, 30, 30);
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
    border-bottom: 1px solid #AFAFAF;
    font-size: 1vh;
    left: 1.4vh;
}

.name {
	position: relative;
	display: inline-block;
    width: 43%;
	line-height: 45px;
}
.time {
	position: relative;
	display: inline-block;
	width: 42%;
}

.score {
	position: relative;
	display: inline-block;
	width: 15%;
}

#leaderboard-list-header {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 6.8vh;
    font-family: 'Poppins', sans-serif;
}

.racing-leaderboards-button {
    position: absolute;
    bottom: 3.5vh;
    width: 70%;
    height: 5vh;
    background-color: #d33013;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .5vh;
    box-shadow: inset 0 0 .3vh 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 5vh;
    font-size: 2.4vh;
    color: white;
    transition: .05s linear;
}

.racing-leaderboards-button:hover {
    background-color: #eb391a;
}
