@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.wenmo-app {
    display: none;
    height: 108%;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.wenmo-header {
    position: absolute;
    width: 86%;
    height: 10%;
    left: 6.5%;
    right: 0;
    color: rgb(0, 0, 0);
    font-size: 1.8vh;
}

.wenmo-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.wenmo-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgb(0, 0, 0);
}

.wenmo-list {
    position: absolute;
    width: 90%;
    height: 84%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;
    border-radius: .5vh;
    overflow-y: scroll;
}

.wenmo-list::-webkit-scrollbar {
    display: none;
}


.wenmo-send-money-btn{
    position: absolute;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease 0s;
    display: inline;
    border-radius: 4px;
    top: 77%;
    left: 91%;
}

.wenmo-send-money-btn:hover{
    color: rgb(17, 17, 17);
}

.wenmo-form-style-body{
    width: 95%;
    background-color: #ffffff;
    margin: 2% 2%;
    padding: 3% 3%;
    border-radius: 4px;
    border-bottom: 0.1vh solid rgba(41, 41, 41, 0.68);
}

.wenmo-time-class-body{
    display: inline;
    float: right;
    color: rgb(0, 0, 0);
}