#z-style-expert{
    background: #ffffff;

    background: #ffffff;
    background: #303030c0;

    background: #ed3e3b; 
    background: #ff2824;

    background: #0095ff;
    background: #41affe;

    box-shadow: 0rem 0rem 0.2rem 0.02rem #000000a6;

    background: #ffffff;
    
}