#z-style-expert{
    background: #ffffff;

    background: #ffffff;
    background: #303030c0;

    background: #f55b5b; 
    background: #f14545;

    background: #4df918;
    background: #79ff50;

    box-shadow: 0rem 0rem 0.2rem 0.02rem #000000a6;

    background: #ffffff;
    
}