#z-style-expert{
    background: #212832;

    background: #2c465f;
    background: #0d1218c0;

    background: #f5a15b; 
    background: #c27e47;

    background: #8ee074;
    background: #6cac59;

    box-shadow: 0rem 0rem 0.2rem 0.02rem #000000a6;

    background: #227ea5;
    
}